body {
  font-family: "Inter", sans-serif;
}

.feature-grid {
  display: block;
  margin: 0 auto;
  padding: 8px;
  width: fit-content;
}

.card {
  display: inline-block;
  margin: 16px;
  padding: 24px 16px;
  width: 480px;

  border: 1px solid #bdc0c7;
  border-radius: 8px;

  background-color: #f7f8fa;
}

.card > .heading-tag {
  width: auto;
}

.card > .heading-tag > .tag {
  padding: 8px 12px;

  border-radius: 16px;

  background-color: #0275c3;

  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
}

.card h2 {
  display: inline-block;
  margin: 0;
  padding-right: 8px;

  font-size: 24px;
  font-weight: 500;
  vertical-align: middle;
}

.card > p {
  margin: 16px 0;

  font-size: 16px;
}

.card > button {
  padding: 8px 16px;

  border: none;
  border-radius: 4px;

  background-color: #3f4a5c;

  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.card:not(.highlighted) > button:hover {
  cursor: pointer;
}

.highlighted {
  border: 2px solid #0275c3;
}
